.myContainerS {
  align-items: center;
  height: 100%;
  width: 100%;
}

.myContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-stretch;
}

.texto-direito {
  text-align: right;
}

.linhas {
  display: flex;
  align-items: center;
  text-align: center;
}

.linha {
  height: 2px;
  background-color: #f1f4f9;
  flex: 1;
} 

.texto {
  flex: 1;
}

.texto-flex2 { 
  flex: 2;
}

.campoForm{
  border: solid 1px #f1f4f9;
}

::placeholder {
  color: #9db0d3;
}

.cor-fonte {
  color: #9db0d3;
}

.fonte {
  text-align: center;
}

.botao {
  background-color: #9db0d3;
  color: white;
  width: 100%;
  border: none;
}

.margem {
  margin-bottom: 15px;
}

.margem-campo {
  margin-right: 15px;
}

.botao-redes-sociais {
  border: solid 1px #4a55ff;
  background-color: white;
  color: #4a55ff;
  text-align: center;
}

.mydisplay {
  display: flex;
}

.mydisplaysociais {
  flex: 1;
  text-align: center;
}

.icone-esquerda {
  float: left;
}