<div class="container-fluid cont">
  <div class="title-top texto">
    Obtenha as respostas de que você precisa
  </div>
  <div class="description texto">
    Recebemos respostas a 20 milhões de perguntas todos os dias. Receba o feedback de que você precisa com a líder mundial em software de questionários.
  </div>
  <div class="buttons">
    <button type="button" class="btn bt-in-pro" [routerLink]="['/planos']">INSCRIÇÃO PRO</button>
    <button type="button" class="btn bt-in-gra">INSCRIÇÃO GRÁTIS</button>
  </div>
</div>